body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.color-container {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #1F2937
}

header {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

a {
  color: #E5E7EB;
  text-decoration: none;
  padding-left: 1.2em;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}
.hero-container {
  display: flex;
  gap: 50px;
  padding: 100px 0 100px 0;
}

.hero-container img {
  flex: 1;
  max-width: 450px;
}

.card {
  flex: 1 0 0;
}

h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.hero-container .text {
  font-size: 18px;
  color: #E5E7EB;

}

button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
}

.info-container img {
  max-width: 150px;
}

#cta-btn {
  border: 1px solid ;
}

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}